{% load static %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Ferramentas</h4>
	</div>
	<div class="panel-body">
		
		<form onsubmit="return recuperar_batidas()" method="post" action="{% url 'recuperar_batidas' %}">
		
		{% csrf_token %}
		<div class="row">
			<div class="col-md-2">
			<input id="btn_recuperar_batidas" type="submit" value="Recuperar batidas">
			</div>
			<div class="col-md-10">
				<img id="loading_ultimas_batidas" src="{% static 'img/loading.gif' %}" style="width: 3em; visibility:hidden">
				Este comando busca as últimas batidas armazenadas nos relógios eletrônicos de ponto.
				<br>
				<span style="width: 3em; display:inline-block"></span>
				<input id="rb_force" type="checkbox" name="force">
				<span style="font-size: 0.8em">Incluir registros antigos (<b>Nota:</b> com esta opção, o processo pode demorar)</span>
				
			</div>
		</div>
			
		</form>
		<script>
			function recuperar_batidas(){
				$("#btn_recuperar_batidas").prop("disabled",true);
				$('#loading_ultimas_batidas').css('visibility', 'inherit');
				var rb_force = '';
				if ($("#rb_force:checked").length > 0){
					rb_force = '?force=1';
				}
				$.ajax({
					url: "{% url 'recuperar_batidas' %}" + rb_force,
					success: function(ret){
						
						if (ret.error !== undefined){
							alert("Um erro ocorreu durante a recuperação das batidas de ponto:\n" + ret.error);
						} 
						$('#loading_ultimas_batidas').css('visibility', 'hidden');
						$("#btn_recuperar_batidas").prop("disabled",false);
					},
					error: function(ret, e){
						alert("Erro ao executar a recuperação das batidas: \n", ret);
						$('#loading_ultimas_batidas').css('visibility', 'hidden');
						$("#btn_recuperar_batidas").prop("disabled",false);
					}
				});
				return false;
			}
		</script>
	</div>
</div>