{% load static %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Ferramentas</h4>
	</div>
	<div class="panel-body ferramentas">
		<div class="row">
			<form onsubmit="return recuperar_batidas()" method="post" action="{% url 'recuperar_batidas' %}">
			
			{% csrf_token %}			
				<div class="col-md-2">
				<input id="btn_recuperar_batidas" type="submit" value="Recuperar batidas">
				</div>
				<div class="col-md-10">
					
					<img id="loading_ultimas_batidas" src="{% static 'img/loading.gif' %}" 
						 class="loading">
					<span>Este comando busca as últimas batidas armazenadas 
					nos relógios eletrônicos de ponto.
					</span>
					<br>
					<span>
					<input id="rb_force" type="checkbox" name="force" style="margin-top:-0.1em">
					<span style="font-size: 0.8em;padding-top:0.5em">Incluir registros antigos (<b>Nota:</b> com esta opção, o processo pode demorar)</span>
					
					</span>					
				</div>
			</form>
		</div>
		<div class="row">
			<form method="get" action="{% url 'colaboradores' %}">			
				<div class="col-md-2">
					<input type="submit" value="Importar/exportar">
					</div>
					<div class="col-md-10">
						<img src="{% static 'img/loading.gif' %}" class="loading">
						Assistente para importação e exportação de dados de colaboradores
				</div>
			
			</form>
		</div>
		<script>
			function recuperar_batidas(){
				$("#btn_recuperar_batidas").prop("disabled",true);
				$('#loading_ultimas_batidas').css('visibility', 'inherit');
				var rb_force = '';
				if ($("#rb_force:checked").length > 0){
					rb_force = '?force=1';
				}
				$.ajax({
					url: "{% url 'recuperar_batidas' %}" + rb_force,
					success: function(ret){
						
						if (ret.error !== undefined){
							alert("Um erro ocorreu durante a recuperação das batidas de ponto:\n" + ret.error);
						} 
						$('#loading_ultimas_batidas').css('visibility', 'hidden');
						$("#btn_recuperar_batidas").prop("disabled",false);
					},
					error: function(ret, e){
						alert("Erro ao executar a recuperação das batidas: \n", ret);
						$('#loading_ultimas_batidas').css('visibility', 'hidden');
						$("#btn_recuperar_batidas").prop("disabled",false);
					}
				});
				return false;
			}
		</script>
	</div>
</div>