{% extends 'admin/base_site.html' %}
{% load static %}
{% block title %}{{ title }}  }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Sistema de controle de ponto eletrônico') }}</a></h1>
{% endblock %}


{% block extrahead %}{{ block.super }}
	{% include 'part/header.html' %}
		
{% endblock  %}
{% block breadcrumbs %}{% endblock  %}
{% block content %}
	<div id="container" class="main container">	

			<div class="form-principal">
			<div class="panel-body">
					{% if mensagem %}
						<div id="info-save" class="alert alert-{{ mensagem_tipo|default:'success' }}">
						  {{ mensagem }}
						</div>
						<script>
						function hideAlert(){$('#info-save').fadeOut('slow');}
						setTimeout(hideAlert, 5000);
						</script>
					{% endif %}
					{% block conteudo %}
					
					{% endblock conteudo %} 				
					
			</div>

		</div>


	</div>
	
</body>
</html>
{% endblock  %}