{% extends 'base.html' %}
{% block breadcrumbs %}<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Início</a> &rsaquo;
{{ title }}
</div>
{% endblock %}

{% block conteudo %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Importar de arquivo</h4>
	</div>
	<div class="panel-body">
		<form action="{% url 'importar_arquivo_csv' %}" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-4">Importar lista de colaboradores de um arquivo CSV para o sistema:</div>
				<div class="col-sm-6">
					{% csrf_token %} 
					<input name="arquivo_csv" type="file" class="btn">
				</div>
				<div class="col-sm-2">
					<input type="submit" value="Importar" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Exportar para relógio</h4>
	</div>
	<div class="panel-body">
		<form action="{% url 'exportar_para_relogio' %}" method="post">
			<div class="row">
				<div class="col-sm-4">Exportar lista de colaboradores do sistema para um relógio:</div>
				<div class="col-sm-6">
					{% csrf_token %} 
					{{ form_exportar_para_relogio.relogio.label }}: {{ form_exportar_para_relogio.relogio }}
				</div>
				<div class="col-sm-2">
					<input type="submit" value="Exportar" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock conteudo %}