{% extends 'base.html' %}
{% block conteudo %}
{% if salvo %}
	<div class="alert alert-success">
	  Informações salvas.
	</div>
{% endif %}
<div class="panel panel-default">
	
	<div class="panel-heading">
		<h4>Colaboradores</h4>
	</div>
	<div class="panel-body">
		<form action="{% url 'salvar_colaboradores' %}" method="post" id="form-colaboradores">
		
			{% csrf_token %} 
			
			{{ form_colaboradores.management_form }}
			
			
					<div class="barra-colaboradores">
						<div class="btn-group">
							<input class="btn btn-primary" type="submit" value="Salvar">
						</div>
					</div>
					<table class="table colaboradores" id="tabela_funcionarios">
						<thead>
							<tr>
								<th>Nome</th>
								<th>PIS</th>
								<th>Matrículas</th>
							</tr>
						</thead>
						<tbody>
							{% for colaborador in form_colaboradores %}					
							<tr class="{%if colaborador.id.value %}old-item{% else %}new-item{%endif%}">
								<td>
									{{ colaborador.id }}
									{{ colaborador.nome }}
								</td>
								<td>
									{{ colaborador.pis }}
									{{ colaborador.pis.errors }}
								</td>
								<td>
									{{ colaborador.matriculas }}
								</td>
							</tr>					
							{% endfor %}
						</tbody>
					</table>
					
					<div class="paginacao">			
						<ul class="pagination">
							{% for p in paginas_range %}					
					            <li class="{% if p == pagina_atual %}active{% endif %}"><a href="?page={{ p }}">{{ p }}</a></li>
					        {% endfor %}
						</ul>			
					</div>
				
		
		
		
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Importar de arquivo</h4>
	</div>
	<div class="panel-body">
		<form action="{% url 'importar_arquivo_csv' %}" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-4">Importar usuários por arquivo CSV:</div>
				<div class="col-sm-6">
					{% csrf_token %} 
					<input name="arquivo_csv" type="file" class="btn">
				</div>
				<div class="col-sm-2">
					<input type="submit" value="Importar" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Exportar para relógio</h4>
	</div>
	<div class="panel-body">
		<form action="{% url 'exportar_para_relogio' %}" method="post">
			<div class="row">
				<div class="col-sm-4">Exportar todos os usuários para relógio:</div>
				<div class="col-sm-6">
					{% csrf_token %} 
					{{ form_exportar_para_relogio.relogio }}
				</div>
				<div class="col-sm-2">
					<input type="submit" value="Exportar" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock conteudo %}