{% if not colaboradores %}
<div class="alert alert-info">Nenhum colaborador registrado.</div>
{% else %}
<table class="table" id="tabela_funcionarios">
	<thead>
		<tr>
			<th></th>
			<th>Nome</th>
			<th>PIS</th>
			<th>Matrículas</th>
			<th>Relógios</th>
		</tr>
	</thead>
	<tbody>
		
		{% for colaborador in colaboradores %}
		<tr>
			<td>
				<!-- < input type="checkbox"> -->
			</td>
			<td>{{ colaborador.nome }}</td>
			<td>{{ colaborador.pis }}</td>
			<td>{% for matricula in colaborador.matriculas.all %} &bullet; {{ matricula.numero }}<br> {% endfor %}
			</td>
			<td>Relógio 1</td>
		</tr>
		{% endfor %}

	</tbody>
</table>

{% endif %}
<div class="panel">
	<div class="panel-body">
		<form action="" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-4">Importar usuários por arquivo CSV:</div>
				<div class="col-sm-6">
					{% csrf_token %} <input type="file" class="btn">

				</div>
				<div class="col-sm-2">
					<input type="submit" value="Importar" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
</div>