{% extends 'base.html' %}
{% block conteudo %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Resultado do processo</h4>
	</div>
	<div class="panel-body">
		<p>Total de colaboradores analisados: {{ total }}</p>
		<h5>Erros: </h5>
		<ul>
		{% for erro in erros %}
			<li class="erro">{{ erro }}</li>
		{% empty %}
			<li>Nenhum erro encontrado.</li>
		{% endfor %}
		</ul>
		<h5>Salvos: </h5>
		<ul>
		{% for salvo in salvos %}
			<li class="registrado">{{ salvo }}</li>
		{% empty %}
			<li>Nenhum.</li>
		{% endfor %}
		</ul>
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Importar de arquivo</h4>
	</div>
	<div class="panel-body">
		<form action="{% url 'importar_arquivo_csv' %}" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-4">Importar usuários por arquivo CSV:</div>
				<div class="col-sm-6">
					{% csrf_token %} 
					<input name="arquivo_csv" type="file" class="btn">
				</div>
				<div class="col-sm-2">
					<input type="submit" value="Importar" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock conteudo %}