
.main .form-principal .row {
	margin-bottom: 1em;
}
.table.colaboradores input, .table.colaboradores textarea{
	width: 100%
}
.table .old-item input, .table .old-item textarea {
	border: 0;	
}
.table.colaboradores textarea{
	height: 3.4em;
}
.barra-rodape, .barra-colaboradores  {
	text-align: right;
	margin-bottom: 1em;
}
.paginacao{
	text-align: center 
}
#header{
	height: 60px !important
}
.dashboard #content {
    min-width: 1000px;
    margin: 0 auto;
}
#content-related{
	float: inherit;
	clear: both;
	width: inherit;
	
}
a.deletelink,a.deletelink:link,  a.deletelink:visited{
	height: 40px !important;
	color: white
}
h1, h2, h3, h4, h5, h6 {
	line-height: inherit
}
.panel-heading{
	color: white !important;
	text-transform: uppercase;
	padding: 1px 9px;
}
.panel-heading h4{
	font-weight: normal;
}

.panel-default, .module {
    border: 1px solid black !important;
}
.ferramentas .row{
	border-bottom: 1px solid silver;
	padding: 0.6em 0 1em 0;
}
.ferramentas .row img.loading{
	width: 3em; 
	visibility:hidden;
	float:left;
}

#header,
.module caption, .panel-heading, fieldset h2{
	background-color: #8cc63e !important;	
}

.ferramentas .button, 
.panel-body input[type=submit], 
.panel-body  input[type=button],
.submit-row input, a.button,
.object-tools a:focus, .object-tools a:hover{
	background-color: #77a736 !important;	
}


#branding h1, #branding h1 a:link, #branding h1 a:visited,
#user-tools,.breadcrumbs,
.module caption, .panel-heading, fieldset h2{
	color: white !important;
}
.breadcrumbs,
.module h2, .module caption, .inline-group h2{
	background-color: #88b54a !important;	
}
a:link, a:visited,  #changelist-filter li.selected a{
    color: #449d44;
    text-decoration: none;
}

a:hover, div.breadcrumbs a:focus, div.breadcrumbs a:hover{
	color: #1b711b;
}
