.main {
  position: absolute;
  width: 800px;
  height: 600px;
  z-index: 15;
  left: 50%;
  margin: 25px 0 0 -400px;
}
.main .form-principal .row {
	margin-bottom: 1em;
}
.table.colaboradores input, .table.colaboradores textarea{
	width: 100%
}
.table .old-item input, .table .old-item textarea {
	border: 0;	
}
.table.colaboradores textarea{
	height: 3.4em;
}
.barra-rodape, .barra-colaboradores  {
	text-align: right;
	margin-bottom: 1em;
}
.paginacao{
	text-align: center 
}
