
.main .form-principal .row {
	margin-bottom: 1em;
}
.table.colaboradores input, .table.colaboradores textarea{
	width: 100%
}
.table .old-item input, .table .old-item textarea {
	border: 0;	
}
.table.colaboradores textarea{
	height: 3.4em;
}
.barra-rodape, .barra-colaboradores  {
	text-align: right;
	margin-bottom: 1em;
}
.paginacao{
	text-align: center 
}
#header{
	height: 60px !important
}
.dashboard #content {
    width: 100%; 
}
#content-related{
	float: inherit;
	clear: both;
	width: inherit;
	
}
a.deletelink,a.deletelink:link,  a.deletelink:visited{
	height: 40px !important;
	color: white
}
h1, h2, h3, h4, h5, h6 {
	line-height: inherit
}
.panel-heading{
	background-color: #79aec8 !important;
	color: white !important;
	text-transform: uppercase;

}
.panel-heading h4{
	font-weight: normal;
}